*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body{
    background-color: lavender;
}

.felicidades{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
}

.iniciar{
    text-decoration: none;
    color: black;
}

.iniciar:hover{
    text-decoration: underline;
}